.my-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: none;
    background-color: #E84A4D;

    color: black;
    font-weight: 700;

    width: 400px;
    height: 120px;

    text-align: center;
    border-radius: 20px 20px 20px 20px;

    border: solid 1px #A4161A;
}

.my-modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
}

.modalButton {
    color: #E84A4D;
    background-color: #A4161A;
    border: none;

    margin-bottom: 5px;
    width: 125px;
    height: 30px;
    border-radius: 20px 20px 20px 20px;
}

.modalLeftButton {
    margin-left: 20px;
    float: left;
}

.modalRightButton {
    margin-right: 20px;
    float: right;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 20px 20px 20px 20px;
}

